<section class="todo-app">
  <h1>Todo List</h1>
  <section class="new-todo">
    <input type="text" class="input" placeholder="Enter your task"  [(ngModel)]="value" (keyup.enter)="addTodo(value)" >
    <button class="btn" (click)="addTodo(value)">Add</button>
  </section>
  <section class="todos-list">
    <ul id="items">
      <li  class ="flex-container item" *ngFor="let todo of todos" >
        <p [class.completed]="todo.completed">{{todo.title}}</p>
        <div class="flex-container todo-states">
          <div class="checkbox-cont">
              <input 
                type="checkbox" 
                aria-label="completion checkbox"
                name="todo" 
                id="checkbox" 
                (click)="toggleCompletionState(todo); arrangeTodos()"
                [checked]="todo.completed" 
              >
          </div>   
              <i class="fa fa-trash" (click)="removeTodo(todo)"></i>     
        </div>    
      </li>
    </ul>
  </section>
  <section class="status-msg">
    <p>
      {{completedTodos}} completed out of {{todos.length}} {{todos.length === 1 ? 'task' : 'tasks'}}
    </p>
  </section>
</section>
